<!DOCTYPE html>
<html>
  <head>
    <title>Autores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nombre: <%= author %></h1>
    <img id="img_author" src="/images/irene.jpg" />
  </body>
</html>
